.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}
.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
          animation: preloader-rotate 2s infinite linear;
}
.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  -webkit-animation: preloader-bounce 2s infinite ease-in-out;
          animation: preloader-bounce 2s infinite ease-in-out;
}
.preloader__item:last-child {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
@-webkit-keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes preloader-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes preloader-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.loaded_hiding .preloader {
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0;
}
.loaded .preloader {
  display: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  height: 60px;
  margin-top: 10px;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu-link {
  font-size: 22px;
  color: #7c898f;
  margin-right: 45px;
  text-decoration: none;
  padding-top: 15px;
}
.menu-link:hover {
  color: #3298da;
  border-top: 10px solid #3298da;
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
}
.logo-img {
  width: 55px;
  height: 55px;
}
.logo-text {
  padding-left: 6px;
  color: #3c5569;
  font-weight: 900;
}
.top-content {
  background-image: url('../img/bg.jpg');
}
.content {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content-text {
  color: #ffffff;
}
.content-title {
  font-size: 39px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}
.content-subtitle {
  font-size: 30px;
  margin-bottom: 30px;
}
.content-feateres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content-feateres .block {
  font-size: 22px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-bottom: 25px;
  background-image: url('../img/top-content/check.svg');
  background-repeat: no-repeat;
  padding-left: 35px;
}
.offer {
  padding: 50px 0 0 0;
}
.offer-title {
  font-size: 39px;
  font-weight: 700;
  text-align: center;
  color: #3c5569;
  margin-bottom: 30px;
}
.offer-subtitle {
  font-size: 20px;
  text-align: center;
  color: #7c898f;
  margin-bottom: 50px;
}
.offer-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.offer-blocks .block {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  background-color: #3298da;
  padding: 15px 0 15px 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
.offer-blocks .block-img img {
  widows: 72px;
  height: 72px;
}
.offer-blocks .block-text {
  width: 480px;
  text-align: center;
}
.offer-blocks .block-text h3 {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 8px;
}
.offer-blocks .block-text p {
  font-size: 16px;
  color: #ffffff;
}
.pricing {
  padding: 50px 0;
}
.pricing-title {
  font-size: 39px;
  font-weight: 700;
  text-align: center;
  color: #3c5569;
  margin-bottom: 30px;
  margin-bottom: 50px;
}
.pricing-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pricing-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 15px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 8px;
}
.pricing-block:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: #3298da;
}
.pricing-block:hover .block-title {
  color: #ffffff;
}
.pricing-block:hover .block-subtitle {
  color: #ffffff;
}
.pricing-block:hover .block-text {
  color: #ffffff;
}
.pricing-block .block-img {
  position: relative;
  margin-bottom: 15px;
}
.pricing-block .block-img span {
  position: absolute;
  left: 37%;
  bottom: 50%;
  font-size: 24px;
  color: #00d5be;
}
.pricing-block .block-img span small {
  color: #29293a;
}
.pricing-block .block-title {
  font-size: 22px;
  font-weight: 700;
  color: #3c5569;
  margin-bottom: 20px;
}
.pricing-block .block-subtitle {
  font-size: 27px;
  font-weight: 100;
  color: #3298da;
  margin-bottom: 10px;
}
.pricing-block .block-text {
  width: 300px;
  font-size: 14px;
  color: #828590;
  line-height: 1.5;
}
.news {
  height: 100vh;
  background-image: url('../img/news/news-bg.jpg');
  padding: 50px 0;
}
.news-title {
  font-size: 39px;
  font-weight: 700;
  text-align: center;
  color: #3c5569;
  margin-bottom: 30px;
  color: #ffffff;
}
